<!DOCTYPE html>
<html>
<head>
	<title></title>	
	<meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
</head>
<style type="text/css">
img {
	width: 100px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #999999;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript">
a = 1;
</script>
<body>
<div class="container">	
<div ng-app="myApp" ng-controller="myCtrl">
	<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>UF</th>
      </tr>
    </thead>
    <tbody>
   	<tr class="item" ng-repeat="x in data">
   	<td>{{x.Id}}</td><td><a href="https://pt.wikipedia.org/wiki/{{x.Name}}" target="_new"><img src="{{x.Foto}}"></a><td>{{x.Name}}</td><td>{{x.UF}}</td>
	</tr>
	</tbody>
	</table>
</div>
</div>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http){
	//http://tads.jcloud.net.br/tads/Locale/City/2222.json?q=Ara
	$http.get("http://tads.jcloud.net.br/tads/Locale/City/2222.json?q=Ara").then(function(response){
			$scope.data = response.data;		
	});
    });
</script>
</body>
</html>