<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl"> 
	<div ng-repeat="x in data">{{x.Id}}- {{x.Name}} - {{x.UF}}</div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $http.get("http://tads.jcloud.net.br/tads/Locale/City/2222.json").then(function(response) {
      $scope.data = response.data;
  });
});
</script>
</body>
</html>